*{
    margin: 0;
    font-family: 'Work Sans'; sans-serif;
}

    /* home button styles */
.home-button{
    list-style: none;
    display: flex;
    text-align: right;
    gap: 40px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    padding-right: 765px;
    padding-top: 90px;
    color:black;
    }
    .bimg{
        background-image: url('../images/gradient1.png');
        background-repeat: no-repeat;
        width: 1600px;
        height: 190px;
    }
    

    /* header banner section styles */
.banner-image{
    width: 1600px;
    height: 809px;
    background-image: url('../images/banner/banner2.png');
}

.title{
    padding-top: 200px;
}
.banner-title{
    color: black;
    text-align: right;
    margin-right: 200px;
    font-weight: 700;
    font-size: 65px;
}

.banner-description{

    margin-top: 25px;
    color:#444343;
    margin-right: 200px;
    text-align: right;
}
.btn-one{
    padding: 14px;
    width: 140px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(168, 119, 216);
    margin-right: 200px;
    margin-top: 30px;
}
.banner{
    text-align: right;
    
}
/* main section fist part */
.main-first-img{
    display: flex;    
}
.description{
    border: 2px;
    margin-left: 87px;
    margin-right: 322px;
    margin-top: 370px;
    margin-bottom: 203px;
}
.main-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 25px;
}
.main-one-description{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 18px;
    color: #444343;
}
.fa-sharp{
    color: #16D887;
}
.list{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
/* main second part styles */
.info-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    }
.info{
    color: #737272;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}
.icn-1{
    width: 93px;
    height: 93px;
}
.main-second{
    display: flex;
    justify-content: space-around;
}
.sec-border .main-title{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
}
.sec-border{
    padding-left: 230px;
    padding-right: 230px;
    width: 1140px;
    height: 300px;
}
/* main third part styles */
.bg-img{
    background-image:linear-gradient(to left, rgba(182, 115, 15, 0), #c0530b),
    url('../images/watch.png');
    background-repeat: no-repeat;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 125px;
    margin-bottom: 130px;
    height: 300px;
    width: 1140px;
    border-radius: 7px;
}
.bg-img .main-title{
    color: white;
    margin-left: 65px;
    padding-top: 59px;
}
.btn-2{
    padding: 18px;
    width: 160px;
    height: 65px;
    border-radius: 5px;
    border: none;
    margin-left: 65px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
}

/* footer style */
.footer-title-1{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
    color: white;
    margin-bottom: 16px;
}
.footer-title{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: white;
    margin-bottom: 30px;
}
.footer-description{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 25px;
}
.footer{
    background-color: black;
    display: flex;
    justify-content:space-between;
}
.contact{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 50px;
}
.sub-button{
    width: 170.11px;
    height: 64px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    margin-top: 18px;
    background-color: rgb(111, 213, 231);
    border-radius: 8px;
}
.footer-form{
    width: 330px;
    height: 40px
}
.footer-1{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 330px;
    margin-bottom: 130px;
}
.footer-2{
    margin-top: 130px;
    margin-right: 230px;
    margin-bottom: 240px;
}
/* bimg styles */
